package templates

templ Home(lang string) {
	@PublicLayout("Evite - Invitație Botez", lang) {
		<div class="landing-page">
			<!-- Decorative ladybugs -->
			<div class="ladybug-decoration ladybug-top-left">🐞</div>
			<div class="ladybug-decoration ladybug-top-right">🐞</div>
			<div class="ladybug-decoration ladybug-bottom-left">🐞</div>
			<div class="ladybug-decoration ladybug-bottom-right">🐞</div>

			<!-- Content will go here -->

		</div>
	}
}

